body {
    font-family: 'Rubik', sans-serif;
}

.navbar {
    border-bottom: #d3d3d3 1px solid;
}

.baseball-img {
    -webkit-animation: spin 3s ease-in-out linear;
    animation: rotation 5s infinite ease-in-out;
}

.dashboard {
    width: 90%;
    display: block;
    margin: auto;
}


@keyframes rotation {
    0%{ transform: rotate(0deg); }

    20% { transform: rotate(359deg); }

    100% { transform: rotate(359deg); }
}

nav{
    font-size: 20px;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

div.card{
    margin: 0 auto;
    text-align: center;
}

.card {
    width: 20rem !important;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.jumbotron {
    background: rgb(63,94,251);
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(181,20,83,1) 63%, rgba(255,0,0,1) 100%);
    color: white;
    border-radius: 0px;
}

.btn {
    color: white;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(63,94,251,1) 100%, rgba(255,0,0,1) 100%);
    border: none;
    transition: 0.4s;
}

.row{
    margin-right: 0px;
}

footer {
    border-top:#d3d3d3 1px solid;
    margin-top: 30px;
}

select{
    margin: 0 auto;
    width: 250px !important;
}

.zeroauto{
    margin: 0 auto;
}

.center{
    text-align:center;
}

input.form-control{
    width: 250px;
    text-align: center;
}

iframe{
    margin: 0 auto;
    margin-top: 20px;
}

#addPitch{
    background: blue;
}

#success {
    background: -webkit-linear-gradient(rgba(63,94,251,1),rgba(255,0,0,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
}